.hero{
    background-color: #1abc9c;
    color: white;
    h1{
        font-size: 60px;
    }
    .star{
        font-size: 50px;
    }
}
.avatar {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
  }